<section>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title d-inline-block">Package Types</h4>
          <div class="float-right">
            <button type="button" class="btn btn-primary" (click)="add()"><i class="ft-plus mr-1"></i> Add New</button>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <ngx-spinner>
              <p style="color: white"> Loading... </p>
            </ngx-spinner>

            <p-table [columns]="selectedColumns" [value]="data" [lazy]="true" (onLazyLoad)="pageCallback($event)"
              [paginator]="true" [rows]="filterDto.pageSize" [totalRecords]="total">

              <ng-template pTemplate="caption">
                <p-multiSelect [options]="columns" [(ngModel)]="selectedColumns" optionLabel="label"
                  selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns">
                </p-multiSelect>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.label}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    <span *ngIf="col.type === 'text'">{{ getRowData(row, col.property) || '-' | humanize }}</span>
                    <span *ngIf="col.type === 'date'">{{ formatDate(getRowData(row, col.property)) }}</span>
                    <span *ngIf="col.type === 'datetime'">{{ formatDateTime(getRowData(row, col.property)) }}</span>
                    <span *ngIf="col.type === 'price'">{{ formatPrice(getRowData(row, col.property)) }}</span>
                    <span *ngIf="col.type === 'number'">{{ formatInt(getRowData(row, col.property)) }}</span>
                    <span *ngIf="col.type === 'int'">{{ formatInt(getRowData(row, col.property)) }}</span>
                    <span *ngIf="col.type === 'percent'">{{ formatInt(getRowData(row, col.property)) }}%</span>
                    <span *ngIf="col.type === 'bool'">{{ getRowData(row, col.property) ? 'Yes' : 'No' }}</span>
                    <!--Actions-->
                    <div *ngIf="col.property === 'actions' && col.type === 'button'" class="position-relative">
                      <div ngbDropdown display="dynamic" [placement]="'bottom-right'" container="body"
                        class="d-inline-block">
                        <i class="ft-more-horizontal- mt-1 dropdown-toggle" ngbDropdownToggle></i>
                        <div ngbDropdownMenu>
                          <a (click)="edit(row)" href="javascript:;" class="dropdown-item"><i
                              class="ft-edit text-primary cursor-pointer"></i>Edit</a>
                          <a (click)="delete(row)" href="javascript:;" class="dropdown-item"><i
                              class="ft-edit text-danger cursor-pointer"></i>Delete</a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>